[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ALS"]
	path = ALS
	url = https://github.com/cran/ALS
	shallow = true
	registered = true
[submodule "minpack.lm"]
	path = minpack.lm
	url = https://github.com/cran/minpack.lm
	shallow = true
	registered = true
[submodule "nnls"]
	path = nnls
	url = https://github.com/cran/nnls
	shallow = true
	registered = true
